APP_NAME=Users
APP_ENV=local
APP_DEBUG=true
APP_URL=https://users.microservices.local
APP_DOMAIN=users.microservices.local

SWAGGER_DOMAIN=users-swagger.microservices.local

UID=1000
GID=1000

# DB
DB_HOST=users-db
DB_CONNECTION=mysql
DB_PORT=3306
DB_DATABASE=users
DB_USERNAME=user
DB_PASSWORD=
DB_ROOT_PASSWORD=

# PHP
PHP_MEMORY_LIMIT=512M
PHP_UPLOAD_MAX_FILESIZE=50M

# Nginx
NGINX_PORT=80

NETWORK_NAME=web

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=
RABBITMQ_PASSWORD=
